body {
  margin: 0px;
  color: white;
}

.card {
  padding: 2em;
}


.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
}

.new-card {
  /* border: 2px white solid; */
  border-radius: 1rem;
  padding: 2rem;
  width: 200px;
  background-color: #342A45;
}

.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  height: 100px;
  background-color: #ffc7ff;
  border-radius: 100%;
}

input {
  margin: 10px 0;
  background-color: #241B35;
  border: none; /* Elimina el borde predeterminado del input */
  border-radius: 20px; /* Hace que los bordes sean redondeados, ajusta según tu preferencia */
  padding: 10px; /* Añade un relleno para dar espacio al texto dentro del input */
  color: white; /* Cambia el color del texto según tu preferencia */
  outline: none; /* Elimina el contorno predeterminado al hacer clic */
  box-shadow: 0 0 0 2px #241B35; /* Añade una sombra para resaltar el input, ajusta según tu preferencia */
}


.forms {
  display: flex;
  flex-direction: column;
  
}

.login {
  margin-top: 1rem;
  background-color: darkcyan;
}

.options {
  display: flex;
  justify-content: center;
}

.option-btn {
  margin-top: 1rem;
  background-color: #A364FF;
  padding: 10px;
  border-radius: 5px;
}

.option-btn:hover {
  background-color: #6C35DE;
}

.navbar {
  background-color: #333; /* Cambia esto según tu preferencia */
}

.nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #342A45;
  font-weight: 600;
}

.nav-item {
  padding: 10px 20px;
}

.nib {
  font-weight: 600;
}

.nav-item:hover {
  background-color: #6C35DE;
}

.nav-list a:active {
  background-color: #6C35DE;
}

a {
  text-decoration: none;
  color: white; /* Cambia esto según tu preferencia */
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: white; /* Cambia esto según tu preferencia */
}

button:hover {
  text-decoration: underline;
}

.home {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 10px;
}
.empty {
  height: 200px;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.profile-t {
  width: 300px;
}